.login {
  height: 80vh;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(242, 236, 236, 0.5), rgba(255, 255, 255, 0.103)), url("/public/assets/login1.jpg") center;
  background-size: 110%;
  background-repeat: no-repeat;
}

.error{
    font-size: 14px;
    color: red;
    margin-left: 5px;
    margin-bottom: 0px;
}

.success{
    font-size: 14px;
    color: green;
    margin-left: 5px;
    margin-bottom: 0px;
}


.loginTitle{
    font-size: 50px;
}

.loginForm{
    margin-top: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.loginForm > label{
    margin: 10px 0px;
}

.loginInput{
    padding: 10px;
    height: 25px;
    outline: none;
    border: 2px solid white;
    background-color: white;
    border-radius: 5px;
}

.loginInput:focus{
    /* outline: rgb(253, 118, 118); */
    border: 2px solid rgb(77, 176, 209);
    
}

/* .link{
    text-decoration: none;
    color: lightblue;
  } */


.loginButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: rgb(111, 189, 215);
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
}


.loginButton:hover{
    background-color: rgb(50, 125, 150)
}


.loginRegisterButton{
     position: absolute;
     top: 60px;
     right: 60px;
     background-color: teal;
     border: none;
     border-radius: 10px;
     padding: 7px;
     cursor: pointer;
     color: white !important;
     font-size: 15px;
}

.loginRegisterButton:hover{
    background-color: rgb(9, 90, 90) !important;
}

/* a:hover{
  color: white !important  
} */